* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #f1f3f6;
    color: $primaryColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primaryColor;
}